/* .{
    margin: 0 !important;
    padding: 0 !important;
} */
main{
    width: 98.75vw;
    height: auto;
    margin-top: 5.5vw;
    background-color: aqua;
   
}
.bp-top{
    width: 98.7vw;
    height: 27vw;
    margin-top: 5.5vw;
    padding:0.005vw;
    margin-bottom: 0.5vw; /*reposnde `margem*/
    background-color: red;
    
}
.bp-top-content{
    margin-left: 23vw;
    height: 18vw;
    height: 18vw;
    width: 63vw;    
    margin-top: 8vw;
    background-color: green;
    padding: 0.0005vw;
    margin-bottom: 10vw; /*n reponde ร margem*/
    
}
.bp-top-wrapper{
    width: 53vw;
    height: 50px;
    /* height: 5vw; */
    /* background-color: lightcyan; */
    display: flex;
    justify-content: flex-start;
    margin-top: 7.9vw;
    margin-bottom: 2vw; /*controla margem*/
        
}
.bp-top-wrapper img{
    width: 3.33vw;
    width: 44.3px;
    height: 3.33vw;
    height: 44.3px;
    border-radius: 140px;
    margin-right: 1vw;   
}
.bp-top-wrapper h3{
    margin-top: 0.1vw;
    width:45vw;
    margin-bottom: 0.1vw;
    font-family: FontHeadingH3;
    color: #592EA9;
}
.bp-top-wrapper h4{
    width: 45vw;
    font-family: FontHeadingH6;
    opacity: 0.5;
    
}
.bp-top-title1{
    font-family: FontHeadingH1;
    margin-bottom: 2.5vw; /*controla margem*/
    width: 72vw;
    /* background-color: lightcoral; */
}
.bp-top-title2{
    font-family: FontHeadingH4;
   background-color: lightcoral;
}

.bp-top-icon{ 
    width: 1.4vw;
    height: 1.4vw;
    margin-bottom: 1vw;
}
.bp-top-title2 img{
    margin-bottom: 0vw;
}
/* ------2ยบ BLOCO --------- */
.bp-image-cont{
    width: 98.75vw;
    height: 41vw;
    margin-bottom: 0vw;
    background-color: lightcoral;
}
.bp-top-image{
    margin-left: 5.5vw;
    width: 88.2vw;
    height: 40.41vw;
}

/* ---------3ยบ BLOCO --------- */

.bp-text-cont{
    width: 98.75vw;
    height: 80vw;
    background-color: lightslategray;
    
}
.bp-text-box{
    width: 88.2vw;
    margin-left: 5.5vw;
    background-color: red;
}

/* ul .bp-list-style{
    list-style: circle;
} */