/* *{
  border: 1px solid red; 
} */
main{
    margin-top: 76px;
    height: auto;
    /* background-color: aqua; */
}

.blog-header{
    width: 98.75vw;
    height: 480px;
    /* margin-top: 76.4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F0F8;
    color: black;
}
.blog-header-wrapper{
    width: 98.80vw;
    height: 332px;
    display: flex;
    justify-content: space-between;
    margin-left: 1vw;
    width: 1190px;
    background-color: lightcoral;
}
.step-photo-textB{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 680px;
    height: 300px;
    /* margin-bottom: 4.5vh; */
    margin-bottom: 2.2vw;
    /* margin-right: 130px; */
    /* background-color: aqua; */
    
}

.item1B{
    font-family: FontHeadingH2;
    opacity: 0.7;
    
}


.item2B{
    
    /* font-size: 2rem;
    font-weight: 700; */
    margin-bottom: 20px;
    font-family: FontHeadingH1;
}
.item3B{
    font-family: FontHeadingH6;
    opacity: 0.8;
} 
.span-step-jamesB{
    color: orange;
}
.item4B{
    width: 38vw;
    font-family: FontBody02;
}
.step-photo-moreB{
    width: 180px;
    height: 7vh;
    height: 3.7vw;
    background-color: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-family: FontHeadingH3;
}
.step-photo-more:hover{
    background-color: orange;
}
.blog-top-img{
    width: 476px;
}

/* *************2º BLOCK ALL POSTS ********* */
.all-posts{
    width: 98.75vw;
    height: 2100px;  
    height: 150vw;  
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */

}
.ap-wrapper{
    width: 87.68vw;
    height: 1830px;
    margin-left: 1vw;
    /* background-color: lightcoral; */

}
.ap-carousel{
    width: 86.80vw;
    height: 1750px;
    /* background-color: red; */
}
.ap-wrapper h2{
    font-family: FontHeadingH1;
    margin-bottom: 1.2vw;
}
.ap-wrapper hr{
    margin-bottom: 2vw;
}

.ap-photo-wrapper{
    width: 1183px;
    height: 292.50px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4vw;
}
.ap-img{
    width: 453px;
    height: 294.5px;
    margin-right: 2vw;
    
}
.ap-photo-text{
    /* background-color: lightgreen; */
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 1.2vw;
}


.ap-buttons{
    display: flex;
    justify-content: center;
    
    gap: 2vw;
    cursor: pointer;
}
.ap-button-1{
    /* width: 3vw;
    height: 2.2vw; */
    font-family: FontHeadingH2;
    opacity: 0.4;
}
.ap-button-2{
    font-family: FontHeadingH2;
    opacity: 1;
}
.ap-hide{
    display: none;
}
/* ------------3 BLOCO ------ */
.blog-categories{
    width: 98.5vw;
    height: 58vh;
    height: 26vw;
    /* background-color: wheat; */
    margin-bottom: 50px;
    margin-bottom: 0vw;

   
}
.blog-categories h2{
    /* display: flex;
    justify-content: center; */
    text-align: left;
    margin-bottom: 3.6vh;
    margin-left: 5.6vw;
    margin-bottom: 2vw;
    font-family: FontHeadingH1;
}
  /* --- buttons removed ------ */
/* .category-btn{
    text-align: center;
    margin-bottom: 4vh;
    margin-bottom: 2vw;
}


.btn-cat-prev, .btn-cat-next{
    width: 3.6vw;
    height: 3vh;
    line-height: 0.8;
    margin-right: 0.5vw;
    
} */
.blog-choose-cat-wrapper{
    margin-left: 4.5vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.blog-choose-box{    
    width: 18.4vw;
    height: 14vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    padding:1.05vw;
    cursor: pointer;
    /* margin-right: 2vw; */
}
.blog-choose-box:hover{
    background-color: orange;
}
.blog-choose-icon img{
    width: 3vw;
    /* height: 4vw; */
    background-color: rgb(237, 220, 188);
    border-radius: 10px;
    margin-left: 1vw;
}
.blog-choose-box h3{
    font-family: FontHeadingH1;
    margin-left: 1vw;
}
.blog-choose-box p{
    font-family: FontBody01;
    margin-left: 1vw;
    opacity: 0.7;
}
/* ------------------ 4º BLOCO ---------- */
.blog-join{
    width: 98.55vw;
    height: 50vh;
    height: 24.22vw;
    /* git  */
}
.blog-join-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-join-wrapper h2{
    margin-top: 5vh;
    margin-top: 2.43vw;
    width: 35vw;
    font-family: FontHeadingH1;
    text-align: center;
    margin-bottom: 3.3vh;
    margin-bottom: 1.6vw;

}
.blog-join-wrapper p{
    width: 34.5vw;
    font-family: FontBody02;
    text-align: center;
    margin-bottom: 5vh;
    margin-bottom: 2.43vw;
    opacity: 0.7;
}
.blog-join-now{    
    font-family: FontHeadingH1;
    width: 11.2vw;
    height: 7.2vh;
    height: 3.49vw;
    background-color: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.blog-join-now:hover{
    background-color: orange;
}