/* *{
    border: 1px solid violet;
} */

/*  +++++++++NOTE  bp stands for blogPost++++++++ */
main{
    width: 98.75vw;
    height: auto;
    margin-top: 5.5vw;
    /* background-color: aqua; */
   
}
.bp-top{
    width: 98.75vw;
    height: 32.2vw;
    margin-top: 0vw;
    /* padding:0.005vw; */
    margin-bottom: 0vw; /*responde ร margem*/
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
    
}
.bp-top-cont{
    margin-left: 20.7vw;
    height: 16.1vw;
    width: 70vw;   
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 2.5vw;
    
    
}
.bp-top-wrapper{
    width: 53vw;
    height: 50px;
    height: 3.75vw;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0vw; /*controla margem era 2vw*/
    /* background-color: coral; */
        
}
.bp-top-wrapper img{
    width: 3.33vw;
    /* width: 44.3px; */
    height: 3.33vw;
    /* height: 44.3px; */
    border-radius: 140px;
    margin-right: 1vw;   
    
}
.bp-top-wrapper h3{
    margin-top: 0.1vw;
    width:45vw;
    margin-bottom: 0.1vw;
    font-family: FontHeadingH3;
    color: #592EA9;
}
.bp-top-wrapper h4{
    width: 45vw;
    font-family: FontHeadingH6;
    opacity: 0.5;
    
}
.bp-top-title1{
    font-family: FontHeadingH1;
    /* margin-bottom: 2.5vw; */
    width: 70vw;
    /* background-color: lightcoral; */
    flex-shrink: 1;
}
.bp-top-title2{
    font-family: FontHeadingH2;
    /* background-color: lightcoral; */
    flex-shrink: 2;
}

.bp-top-icon{ 
    width: 2.1vw;
    object-fit: contain;
    margin-top: 0vw;
}




/* ------2ยบ BLOCO --------- */
.bp-image-large-cont{
    width: 98.75vw;
    height: 41vw;
    margin-bottom: 3vw;
    /* background-color: lightcoral; */
    
}
.bp-image-large{
    margin-left: 5.5vw;
    width: 88.2vw;
    height: 40.41vw;
}

/* ---------3ยบ BLOCO --------- */

.bp-text-cont{
    width: 98.75vw;
    height: 200vw;
    /* background-color: lightslategray; */
    
}
.bp-text-box{
    width: 60vw;
    margin-left: 22.1vw;
    height: 98vw;
    width: 57vw;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    
}
.bp-text1{
    height: 19vw;    
    /* border: 1px solid white; */
       
}
.bp-text-head{
    height: 6.5vw;
    font-family: FontHeadingH2bp;
    margin-bottom: 1.5vw;
    line-height: 48px;
    /* background-color: aliceblue; */
}
.bp-text-text{
    height: 10.5vw;
    font-family: FontBody01;
    opacity: 0.7;
    line-height: 28px;
    /* background-color: aqua; */
    
}
.bp-text2{
    height: 52vw;    
    /* background-color: coral; */
    display: block;    
}
.t2{
    margin-bottom: 2vw;
    /* background-color: green; */
}
.t3{
    margin-bottom: 2vw;
}
.bp-list-style{
    list-style-type: disc;
    margin-left: 1.1vw;
    font-family: FontHeadingH4;
    opacity: 0.6;
    margin-bottom: 2vw;
    line-height: 28px;
    margin-bottom: 2vw;
    
}



@media only screen and (max-width: 1200px){
    .bp-top-title1{
        font-family: FontHeadingH2-1200;
    } 
    
    }

@media only screen and (max-width: 800px){        
        .bp-top-wrapper h3{
            font-family: FontHeadingH3-800;
        } 
        .bp-top-wrapper h4{
            font-family: FontHeadingH6-800;
        } 
        .bp-top-title1{
            font-family: FontHeadingH2-800;
        } 
        .bp-top-title2{
            font-family: FontHeadingH2-800;
        }

        }

        @media only screen and (max-width: 576px){
             .bp-top-wrapper{
                margin-top: 3vw;
            }         
            .bp-top-wrapper h3{
                font-family: FontHeadingH3-576;
            } 
            .bp-top-wrapper h4{
                font-family: FontHeadingH6-576;
            } 
            .bp-top-title1{
                font-family: FontHeadingH2-576;
            }  
            .bp-top-title2{
                font-family: FontHeadingH2-576;
            }
           
            }