footer{
    width: 98.55;
    /* background-color: lightcoral; */
    background-color: black; 
    height: 80vh;   
}
.footer-container{
    color: white;       
    
}
.nav-footer{
    width: 98.70vw;
}
.header-nav{
    font-display: flex;
    align-items: baseline;
}
.bar-item-1{
    font-family: FontHeadingH1; 
    font-size: 26px;
    margin-right: 25vw; /*220px */
    margin-left: 4vw; /*40px*/
    margin-top: 2.3vh;
    width: 24vw;
    color: white;
}
.bar-items{
    list-style: none;
    margin-top: 0px;
    display: flex;
    width: 9
    
    0%;
    height: 11.5vh;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;    
    width: 38vw;
    
}
.bar-items a{
    color: white;
    text-decoration:none;
}
.bar-items a:hover{
    background-color: orange;
}
.bar-item-2{
    margin-right: 0.4vw;
    font-family: FontHeadingH4;
    margin-top: 1.4vh;
}


    /* -------2ª bloco----------- */
.footer-subscription{
    display: flex;
    height: 36vh;
    width: 88vw;
    background-color: rgba(30, 30, 30, 1); 
    /* background-color: antiquewhite; */
    align-items: center;
    margin-left: 5.3vw;
    margin-top: 9vh;
    margin-bottom: 9vh;
    /* align-self: center; */
    
}
.subs-item{
    font-family: FontHeadingH1;
    width: 29vw;
    margin-right: 10vw;
    margin-left: 6vw;     

}
.subs-box{
    width: 19vw;
    height: 42px;
    border: 1px solid gray;
    background-color: rgba(30, 30, 30, 1);
    /* color: rgba(30, 30, 30, 1); */
    margin-right: 3.5vw;
    color: rgba(255, 255, 255, 0.3); 
    text-align: left;    
    
}

.subs-box-bt{
    background-color: #FFD050;
    color: black;
    height: 20px;
    width: 160px;
    margin-top: -1px;
    padding: 12px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: FontHeadingH4;
    cursor: pointer;       
}

.subs-box-bt:hover{
    background-color: orange;
}


.footer-bottom{
    display: flex;
    width: 87.9vw;
    margin-left: 5.4vw;
    /* background-color: blueviolet; */
    justify-content:space-between;
    align-items: self-start;
    height: 60px;
    opacity: 0.5;
    font-family: FontBody03;
}
.icons{
    width: 14vw;
    display: flex;
    justify-content: space-between;
}