footer{
    width: 98.55vw;
    /* background-color: lightcoral; */
    background-color: black; 
    height: 36.5vw;   /*80vh*/
}
.footer-container{
    width: 90.55vw;
    height: 36vw;
    color: white;       
    
}
.nav-footer{
    width: 93.8vw;
    height: 5.6vw;
    display: flex;
    align-items:flex-start;
    height: 35vw;
}
    
.foot-header-nav{
    width: 93.1vw;    
    height: 5.6vw; 
    margin-left: 5.6vw;
    display: flex;
    align-items: center;
}
.foot-bar-item-1{
    font-family: FontHeadingH1; 
    font-size: 28px;
    margin-right: 28vw; /*220px */  
    width: 26vw;
    color: white;
}
.foot-bar-items{
    list-style: none;
    margin-top: 0px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;    
    width: 61vw;
    height: 5vw;
    font-family: FontHeadingH4;
    
}
.foot-bar-item-2{
    margin-right: 2vw;
}

.foot-bar-items a{
    color: white;
    text-decoration:none;
}
.foot-bar-items a:hover{
    background-color: orange;
}



    /* -------2ª bloco----------- */
.footer-subscription{
    display: flex;
    height: 35.7vh;
    /* height: 16.8vw; */
    width: 87.6vw;
    background-color: rgba(30, 30, 30, 1); 
    /* background-color: antiquewhite; */
    align-items: center;
    margin-left: 5.3vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    /* align-self: center; */
    
}
.subs-item{
    font-family: FontHeadingH1;
    width: 29vw;
    margin-right: 10vw;
    margin-left: 6vw;     

}
.subs-box{
    width: 19vw;
    height: 42px;
    border: 1px solid gray;
    background-color: rgba(30, 30, 30, 1);
    /* color: rgba(30, 30, 30, 1); */
    margin-right: 3.5vw;
    color: rgba(255, 255, 255, 0.3); 
    text-align: left;    
    
}

.subs-box-bt{
    background-color: #FFD050;
    color: black;
    height: 20px;
    width: 160px;
    margin-top: -1px;
    padding: 12px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-family: FontHeadingH4;
    cursor: pointer;       
}

.subs-box-bt:hover{
    background-color: orange;
}


.footer-bottom{
    display: flex;
    width: 87.5vw;
    margin-left: 5.4vw;
    /* background-color: blueviolet; */
    justify-content:space-between;
    align-items: self-start;
    height: 60px;
    opacity: 0.5;
    font-family: FontBody03;
}
.icons{
    width: 14vw;
    display: flex;
    justify-content: space-between;
}