
header{
    width: 98.8vw;
    height: 11.5vh;
    margin:0px;
    Position: fixed;
    top: 0;
    z-index: 10;  
    background-color: black;
    
    
}
.header-nav{
    width: 98.8vw;
    display: flex;
}
.bar-item-1{
    font-family: FontHeadingH1; 
    font-size: 26px;
    margin-right: 27.2vw; /*220px */
    margin-left: 5.5vw; /*40px*/
    margin-top: 2.3vh;
    width: 24vw;
    color: white;
}
.bar-items{
    list-style: none;
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 11.5vh;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;    
    width: 38vw;
    
}
.bar-items a{
    color: white;
    text-decoration:none;
}
.bar-items a:hover{
    background-color: orange;
}
.bar-item-2{
    margin-right: 0.4vw;
    font-family: FontHeadingH4;
    margin-top: 1.4vh;
}
.bar-item-3{
    /* display: flex;
    align-items: center;
    justify-content: center;  */
    width: 15vw;
    height: 8vh;
    background-color: white;
    margin-top: 0.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.bar-items .bar-item-3 a{
    /* margin-right: 0.7vw; */
    /* background-color: red; */
    color: black;
    padding: 12px;
    /* width: 11.5vw; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 0.2vh;
    /* align-items: baseline; */
    /* height: 6.7vh;
    width: 1vw; */
    cursor: pointer;
    text-align: center; 
    vertical-align:baseline;
    font-family: FontHeadingH3;
    

}
.bar-item-3:hover{
    background-color: orange;
}
.bar-item-4{
    background-image: url("./assets/photos/home/Hamburger-menu.jpg");
    width: 50px;
    height: 39px;
    margin-left: 22%;
    margin-top: 5px;
}


.hide-nav-bar{
    display: none;
}
.hide-hbg-icon{
    display: none;
}
  
/* -------------hamburger tab--------------- */

.hbg-items{
    width: 400px;
    height:300px;
    position: absolute;
    top:60px;
    right:30px;
    display: flex;
    flex-direction: column;
    background-color: #232536;
    opacity: 0.7;
    align-items: center;
}
.hbg-items a{
    color: white;
    text-decoration:none;
    cursor: pointer;       
}    
.hbg-item-1{
    margin-top: 30px;
    color: white;
}
.hbg-item-2, .hbg-item-3,.hbg-item-4{
    margin-top: 14px; 
    color: white;      
}
.hbg-item-5 a{
    margin-top: 20px;
    margin-right: 10px;
    background-color: white;
    color: black;
    padding: 12px;
    width: 110px;
    display: flex;
    justify-content: center;
    font-weight: 700;      
}
.hbg-item-5 a:hover{
    background-color: orange;
}
.hide-hbg-tab{
    display: none;
}
.see-hbg-tab{
    display: block;
}