header{
    width: 100vw;
    height: 60px;
    margin:0px;
    Position: fixed;
    top: 0;
    z-index: 10;  
    background-color: black;
    font-family: FontSenRegular; 
    
}
.header-nav{
    width: 100%;
    display: flex;
}
.bar-item-1{
    font-size: 2rem;
    margin-right: 32vw; /*220px */
    margin-left: 6vw; /*40px*/
    margin-top: 7px;
    width: 300px;
    color: white;
}
.bar-items{
    list-style: none;
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: space-around;
    align-items: center;    
    width: 500px;
    

}
.bar-items a{
    color: white;
    text-decoration:none;
}

.bar-item-2{
    margin-right: 8px;
    font-size: 0.8rem;
}
.bar-item-3 a{
    margin-right: 10px;
    background-color: white;
    color: black;
    padding: 12px;
    width: 110px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;   
    

}
.bar-item-4{
    background-image: url("./assets/photos/home/Hamburger-menu.jpg");
    width: 50px;
    height: 39px;
    margin-left: 22%;
    margin-top: 5px;
}
a:hover{
    background-color: orange;
}
.hide-nav-bar{
    display: none;
}
.hide-hbg-icon{
    display: none;
}
  
/* -------------hamburger tab--------------- */

.hbg-items{
    width: 400px;
    height:300px;
    position: absolute;
    top:60px;
    right:30px;
    display: flex;
    flex-direction: column;
    background-color: #232536;
    opacity: 0.7;
    align-items: center;
}
.hbg-items a{
    color: white;
    text-decoration:none;
    cursor: pointer;       
}    
.hbg-item-1{
    margin-top: 30px;
    color: white;
}
.hbg-item-2, .hbg-item-3,.hbg-item-4{
    margin-top: 14px; 
    color: white;      
}
.hbg-item-5 a{
    margin-top: 20px;
    margin-right: 10px;
    background-color: white;
    color: black;
    padding: 12px;
    width: 110px;
    display: flex;
    justify-content: center;
    font-weight: 700;      
}
.hbg-item-5 a:hover{
    background-color: orange;
}
.hide-hbg-tab{
    display: none;
}
.see-hbg-tab{
    display: block;
}