main{
    margin-top: 60px;
    width:1100px;   
    height: auto;
    /* background-color: brown; */
    /* position: relative; */
    font-family: FontSenRegular;
}
/* 1º bloco step-by-step-guide */
.step-step-container{
    width: 1106px;
    height: auto;
    /* background-color: aqua; */
    margin-bottom: 50px;
}
/* .step-photo{    
    height: 400x;
} */
.img-step{
    width: 1106px;
}
.step-photo-text{
    position: absolute;
    top: 140px;
    left: 40px;
}
.step-text{
    color: white;
    margin-bottom: 25px;
}
.span-step-startup{
    font-weight: 700;
}
.item2{
    width: 520px;
    /* font-size: 2rem;
    font-weight: 700; */
    margin-bottom: 20px;
    font-family: FontDisplay;
}
.item3{
    font-weight: 200;
}
.span-step-james{
    color: orange;
}
.item4{
    width: 410px;
}
.step-photo-more{
    width: 150px;
    height: 40px;
    background-color: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.step-photo-more:hover{
    background-color: orange;
}

/* botão carrosel em baixo da foto */
/* .button-wrapper{
    display: flex;
    justify-content: center;
} */
/*
.button-photo{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
    height: 32px;
    background-color: #FFD050;
    cursor: pointer;
}
*/
.button-photo{
    background-color: #FFD050;
    cursor: pointer;
}
.button-photo:hover{
    background-color: orange;
}
.prev-Button{
    position: absolute;
    top: 278px;
    left: 7px;
    font-size: 32px;
    
}
.next-Button{
    position: absolute;
    top: 278px;
    left: 1079px;
    font-size: 38px;
}


.item-hide{
    display: none;
}


/* 2ºbloco Featured + All posts*/

.featured-post{
    margin-top: 20px;
    width: 1106px;
    height: 580px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.featured{
    width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    margin-right: 18px;   
}
.featured h2{
    font-weight: 900;
}
.featured-border{
    border: 1px groove rgba( 204, 204, 255, 0.6);
    margin-top: 12px;
    padding:16px;
    margin-left: 4px;
    align-self: center;
    
    
}
.featured-image{
    width: 610px;
    height: 280px;
    background-image: url("./assets/photos/home/Featured.post-image.jpg");
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    

}
.featured-item1{
    margin-bottom: 16px;
    font-size: 0.7rem;
    opacity: 0.7;
}
.featured-item2{
    margin-bottom: 16px;
    width: 480px;
}
.featured-item3{
    margin-bottom: 16px;
    font-size: 0.7rem;
    opacity: 0.6;
}
.posts{
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* background-color:red; */
}
.posts-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.posts-title a{
    text-decoration:none;

}
.posts-title h3{
    font-size: 0.8rem;
}
.post-item{
    margin-top: 34px;
    width: 240px;
    font-size: 0.7rem;
    opacity: 0.7;
    cursor: pointer;
    
}
.post-item:hover{
    background-color: orange;
}
.posts p{
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bolder;
}


/* 3ª bloco tab */
.tabs{
    width: 1106px;
    height: auto;
    background-color: blueviolet;
    margin-bottom: 45px;
}
.tab-container{
    display: flex;
    justify-content: center;
}
.tab-grow1{
    flex-grow: 1;
    background-color: whitesmoke;
    color: whitesmoke;
    cursor: pointer;
}
.tab-grow2{
    flex-grow: 2;
    background-color: #FFD050;
    color: #FFD050;
    cursor: pointer;
}
.tab-grow3{
    flex-grow: 1;
    background-color: #592EA9;
    color: #592EA9;
    cursor: pointer;
}
.tab-content{
    width: 1106px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.tab-part-wrap{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.tab-part{
    width: 430px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    padding: 20px;
}
.part-title{
    opacity: 0.7;
    margin-bottom: 12px;
}
.part-banner1{
    font-size: 1.9rem;
    font-weight: 900;
    margin-bottom: 12px;
}
.part-banner2{
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 12px;
}
.part-text{
    opacity: 0.4;
    font-weight: 500;
}
.more{
    margin-top: 45px;
    width: 100px;
    justify-self: start;
    margin-left: 50px;
    margin-bottom: 80px;
    color: #592EA9;
    cursor: pointer;
}

.tab3 .more{
    color:#FFD050;
}
.more:hover{
    background-color: orange;
}
.tab1{
    background-color: whitesmoke;
}
.tab2{
    background: #FFD050;
}
.tab3{
    background-color: #592EA9;
    color: white;
}
.tab-hide{
    display: none;
}
 
/* ---------------------4º bloco choose category -------------------*/

.choose-category{
    width: 1106px;
    height: 300px;
    /* background-color: wheat; */
   
}
.choose-category h2{
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}
.choose-cat-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.choose-box{
    width: 220px;
    height: 180px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    cursor: pointer;
}
.choose-box:hover{
    background-color: orange;
}
.choose-icon img{
    width: 44px;
    height: 44px;
    background-color: rgb(237, 220, 188);
    border-radius: 10px;  
}
.choose-box h3{
    font-family: FontHeadingH1;
}
.choose-box p{
    font-family: FontBody01;
}

/* --------- 5º Bloco WHY WE STARTED----------- */
.started{
    width: 1106px;
    height: 620px;
    /* background-color: violet; */
    position: relative;
    margin-bottom: 30px;
}
.img-started{
    width: 800px;
}
.started-absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 160px;
    left: 500px;
    background-color: aliceblue;
    width: 595px;
    height: 435px;
}
.started-absolute h4{
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.started-absolute h3{    
    margin-left: 60px;
    font-family: FontHeadingH1;
    margin-bottom: 20px;
    width: 380px;
}
.started-absolute p{    
    margin-left: 60px;
    font-family: FontBody01;
    opacity: 0.6;
    font-weight: 600;
    margin-bottom: 20px;
    width: 380px;
}
.started-bt{
    display: flex;
    margin-left: 60px;
    background-color: #FFD050;
    width: 173px;
    height: 24px;
    justify-content: center;
    align-items: center;
    font-family: FontHeadingH4;
    cursor:pointer;
    
}
.started-bt:hover{
    background-color: orange;
}


/* ----------6º Bloco Authors ----------*/
.list-authors{
    width: 1106px;
    height: 380px;
    /* background-color: red; */
}
.list-authors h2{
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
    font-family: FontHeadingH3;
}
.list-aut-wrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aut-box{
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    width: 220px;
    height: 250px;
    justify-content: center;
}
.aut-img{
    width: 90px;
    height: 90px;
    border-radius: 80px;
    margin-bottom: 12px;
    align-self: center;
}
.aut-title{
    font-family: FontHeadingH3;
    margin-bottom: 12px;
    align-self: center;
}
.aut-mail{
    font-family: FontHeadingH5;
    margin-bottom: 12px;
    align-self: center;
    opacity: 0.6;
}
ul{
    list-style: none;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aut-icons{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}



/* 7º Bloco Advertise */
.advertise{
    width: 1106px;
    height: 70px;
    /* background-color: bisque;  */
    display: flex;  
    /* justify-content: center; */
    
}
.list-adv{
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin-left: 38px;
}
.list-adv-item{
    width: 160px;
    height: 58px;
    margin-left: 10px;
    margin-right: 56px;
}
.list-text h5{
    opacity: 0.5;
}
.list-text h4{
    opacity: 0.7;
}
.adv-logo{
    font-family: FontHeadingH5;
    opacity: 0.7;
}
.span-logo{
    width: 20px;
    height: 20px;
}



/* 8º Bloco testimonials */
.testimonials{
    width: 1106px;
    height: 430px;
    /* background-color: lightcyan; */
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.testimo-wrapper{
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6EA;
}
.testimo-left{
    width: 400px;
    height: 280px;
    border-right: 1px solid black;
    /* background-color: aquamarine; */
}
.testimo-left h4{
    font-family: FontHeadingH4;
    margin-bottom: 20px;
    margin-top: 10px;
}
.testimo-left h2{
    font-family: FontHeadingH1;
    width: 280px;
    margin-bottom: 20px;
}
.testimo-left p{
    font-family: FontBody02;
    width: 340px;
    margin-bottom: 20px;
}

.testimo-right{
    width: 500px;
    height: 280px;
    /* background-color: antiquewhite; */
    margin-left: 60px;
}
.testimo-right p{
    font-family: FontHeadingH2;
    margin-top: 10px;
    width: 280px;
    margin-bottom: 120px;
}

.jona-wrapper{
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    

}
.jona-img{
    width: 55px;
    /* height: 20px; */
    border-radius: 80px;
    margin-right: 15px;
}

.jona-item2{
    width: 175px;
    margin-right: 70px;
    font-family: FontHeadingH2;
}
.jona-item2 span{
    width: 150px;
    font-family: FontHeadingH4;
    opacity: 0.6;
}
.jona-item3{
    height: 50px;
    width: 50px;
    align-self: center;
    text-align: center;   
    font-weight: 700;
    border-radius: 70px;
    color: black;
    /* background-color: black; */
    font-family: FontArrow;
   
}
.jona-item4{
    height: 50px;
    width: 50px;
    align-self: center;
    text-align: center;   
    font-weight: 700;
    border-radius: 70px;
    color: white;
    background-color: black;
    font-family: FontArrow;
   
}


/* 9º Bloco Join */

.join{
    width: 1106px;
    height: 300px;
    /* git  */
}
.join-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-wrapper h2{
    width: 460px;
    font-family: FontHeadingH1;
    text-align: center;
    margin-bottom: 20px;

}
.join-wrapper p{
    width: 450px;
    font-family: FontBody01;
    text-align: center;
    margin-bottom: 20px;
}
.join-now{    
    font-family: FontHeadingH1;
    width: 150px;
    height: 40px;
    background-color: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.join-now:hover{
    background-color: orange;
}