main{
    /* margin-top: 10.9vh; */
    width: 98vw;
    height: auto;
    margin-top: 5vw;

    /* font-size-adjust: 0.58; */
    /* background-color: brown; */
    /* position: relative; */
    /* font-family: FontSenRegular; */
    /*html 1331 px width */
}

/*---------- 1º bloco step-by-step-guide --------------*/
.step-step-container{
    width: 98.80vw;
    height: auto;
    /* background-color: aqua; */
    margin-bottom: 50px;
}
.img-step{
    width: 98.80vw;
    object-fit: cover;
}
.step-photo-text{
    position: absolute;
    top: 25.4vh; 
    left: 5.5vw;
    width: 60%;
    height: 45%;
}
.step-text{
    color: white;
    margin-bottom: 4.5vh;
}
.span-step-startup{
    font-weight: 700;
}
.item2{
    width: 55vw;
    /* font-size: 2rem;
    font-weight: 700; */
    margin-bottom: 20px;
    font-family: FontDisplay;
}
/* .item3{
    width: 40vw;
} */
.span-step-james{
    color: orange;
}
.item4{
    width: 38vw;
}
.step-photo-more{
    width: 11.5vw;
    height: 7vh;
    background-color: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.step-photo-more:hover{
    background-color: orange;
}

/* botão carrosel em baixo da foto */
/* .button-wrapper{
    display: flex;
    justify-content: center;
} */
/*
.button-photo{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
    height: 32px;
    background-color: #FFD050;
    cursor: pointer;
}
*/
/* ----button top middle photo---- */
.button-photo{
    background-color: #FFD050;
    cursor: pointer;
}
.button-photo:hover{
    background-color: orange;
}
.photo-bt-cont{
    position: absolute;
    top: 7vw;
    left: 43vw;
    width: 14vw;
    height: auto;
    text-align: center;
    vertical-align: center;
    /* background-color: aqua; */
}
.button-photo{
    width: 3.6vw;
    height: 3vh;
    line-height: 0.8;
    margin-right: 0.5vw;
}
/* .prev-Button{
    position: absolute;
    top: 35%;
    left: 9px;
    font-size: 38px;
    
}
.next-Button{
    position: absolute;
    top: 35%;
    right: 9px;
    font-size: 38px;
} */


.item-hide{
    display: none;
}


/* ------------- 2ºbloco Featured + All posts-------------------*/

.featured-post{
    margin-top: 1.6vw;
    width: 98.79vw;
    height: 54vw;
    /* background-color: lightgreen; */
    display: flex;
    justify-content:left;
    margin-bottom: 0px;
}

.featured{
    width: 50vw;
    height: 54vw;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    margin-left: 5.5vw;
    margin-right: 0.1vw;
    justify-content: flex-start;   
}
.featured h2{
    font-family: FontHeadingH1;
}


.featured-border{
    border: 1px groove rgba( 204, 204, 255, 0.6);
    margin-top: 1.9vw;
    padding:16px;
    margin-left: 0.25vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
    
}
.featured-image{
    width: 47vw;
    height: 25vw;
    background-image: url("./assets/photos/home/Featured.post-image.jpg");
    margin-bottom: 3vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-left: 0.11vw;
    

}
.featured-item1{
    margin-bottom: 3vh;
    font-family: FontBody02;
    opacity: 0.7;
    margin-left: 0.11vw;
    
}
.featured-item2{
    font-family: FontHeadingH1;
    margin-bottom: 3vh;
    width: 44vw;
    margin-left: 0.11vw;
}
.featured-item3{
    font-family: FontBody01;
    margin-bottom: 3vh;
    font-size: 0.7rem;
    opacity: 0.6;
    margin-left: 0.11vw;
}

.posts{
    width: 37vw; 
    height: 54vw;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    /* background-color:red; */
    margin-top: 0.5vh;
}
.posts-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua;     */
}
.posts-title h2{
    font-family: FontHeadingH1;
}
.posts-title h3{
    margin-top: 0.8vw;
    

}
.posts-title h3 a{
    text-decoration:none;
    color: black;
    font-family: FontHeadingH5;
    
}
.posts-title h3 a:hover{
    background-color: orange;
}

/* .posts-title h3{
    font-size: 0.8rem;
} */
/* ----------------scroll bar */
.posts-scroll{
    width: 33vw;
    /* height: 90vh; */
    height: 82%;
    margin-left:2.8vw;
    display: block;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 1.2vw;
}
 
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 8px rgba(210,210,210,4); */
    -webkit-box-shadow: inset 0 0 0px rgba(210,210,210,4);
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    /* -webkit-box-shadow: inset 0 0 6px rgba(255,165,1);  */
    background: #FFD050;
}
::-webkit-scrollbar-thumb:hover {
    background: orange;
}

/* ----------------fim scroll */
.post-item{
    margin-top: 4.9vh;
    width: 26vw;
    height:17vh;
    padding: 3px;       
    cursor: pointer;    
}
.post-item h5{
    font-family: FontHeadingH4;
    opacity: 0.7;
    width: 30vw;
    margin-bottom: 1.5vh;
    
}
.post-item p{
    font-family: FontHeadingH1;
    margin-bottom: 0.1vh;
}


.post-item:hover{
    background-color: orange;
}
/* .posts p{
    margin-top: 2.7vh
    font-family: FontHeadingH2;
    font-weight: bolder;
} */


/* ----------3ª bloco tab --------------- */
.tabs{
    width: 98.50vw;
    height: auto;
    /* background-color: blueviolet; */
    margin-bottom: 45px;
}
.tab-container{
    margin-left: 5.55vw;
    width: 88vw;
    display: flex;
    justify-content: center;
}
.tab-grow1{
    flex-grow: 1;
    background-color: whitesmoke;
    color: whitesmoke;
    cursor: pointer;
}
.tab-grow2{
    flex-grow: 2;
    background-color: #FFD050;
    color: #FFD050;
    cursor: pointer;
}
.tab-grow3{
    flex-grow: 1;
    background-color: #592EA9;
    color: #592EA9;
    cursor: pointer;
}
.tab-content{
    margin-left: 5.55vw;
    width: 88vw;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.tab-part-wrap{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.tab-part{
    width: 430px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    padding: 20px;
}
.part-title{
    font-family: FontHeadingH1;
    opacity: 0.5;
    margin-bottom: 1.7vw;
}
.part-banner1{
    /* font-weight: 900; */
    margin-bottom: 12px;
    font-family: FontHeadingH1;
}
.part-banner2{
    font-family: FontHeadingH2;
    font-weight: 800;
    margin-bottom: 12px;
}
.part-text{
    font-family: FontBody02;
    opacity: 0.4;
    font-weight: 800;
    margin-top: 1vw;
}
.more{
    margin-top: 45px;
    width: 100px;
    justify-self: start;
    margin-left: 50px;
    margin-bottom: 80px;
    color: #592EA9;
    cursor: pointer;
}

.tab3 .more{
    color:#FFD050;
}
.more:hover{
    background-color: orange;
}
.tab1{
    background-color: whitesmoke;
}
.tab2{
    background: #FFD050;
}
.tab3{
    background-color: #592EA9;
    color: white;
}
.tab-hide{
    display: none;
}
 
/* ---------------------4º bloco choose category -------------------*/

.choose-category{
    width: 98.5vw;
    height: 58vh;
    /* background-color: wheat; */
    margin-bottom: 50px;
   
}
.choose-category h2{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin-bottom: 3.6vh;
    font-family: FontHeadingH1;
}
.category-btn{
    text-align: center;
    margin-bottom: 4vh;
}


.btn-cat-prev, .btn-cat-next{
    width: 3.6vw;
    height: 3vh;
    line-height: 0.8;
    margin-right: 0.5vw;
    /* width: 2.5vw;
    height: 4vh; */
}
.choose-cat-wrapper{
    margin-left: 4.3vw;
    width: 91vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    /* background-color: aqua;   */
}

.choose-box{    
    width: 17.4vw;
    height: 14vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    cursor: pointer;
    /* margin-right: 2vw; */
}
.choose-box:hover{
    background-color: orange;
}
.choose-icon img{
    width: 4vw;
    height: 4vw;
    background-color: rgb(237, 220, 188);
    border-radius: 10px;
    margin-left: 1vw;
}
.choose-box h3{
    font-family: FontHeadingH1;
    margin-left: 1vw;
}
.choose-box p{
    font-family: FontBody01;
    margin-left: 1vw;
}

/* --------- 5º Bloco WHY WE STARTED----------- */
.started{
    width: 98.5vw;
    height: 53vw;
    /* background-color: violet; */
    position: relative;
    margin-bottom: 4.8vh;
}
.img-started{
    width: 69.2vw;
    margin-left: 5.7vw;
}
.started-absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 9.2vw;
    left: 47.6vw;
    background-color: aliceblue;
    width: 46.6vw;
    /* height: 87vh; */
    height: 80%;
    justify-content: flex-start;
        
}
.started-absolute h4{
    margin-top: 14vh;
    margin-left: 4.5vw;
    margin-bottom: 4.6vh;
    font-family: FontHeadingH2;
}
.started-absolute h3{   
    margin-top: 1.5vh; 
    margin-left: 4.5vw;
    font-family: FontHeadingH1;
    font-weight: 500;
    margin-bottom: 4.6vh;
    width: 35.5vw;
}
.started-absolute p{   
    margin-top: 1.5vh;  
    margin-left: 4.8vw;
    font-family: FontBody02;
    opacity: 0.6;
    font-weight: 600;
    margin-bottom: 4.6vh;
    width: 35.4vw;
}
.started-bt{
    margin-top: 1.5vh; 
    display: flex;
    margin-left: 4.5vw;
    background-color: #FFD050;
    width: 17.4vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    font-family: FontHeadingH3;
    cursor:pointer;
    
}
.started-bt:hover{
    background-color: orange;
}


/* ----------6º Bloco Authors ----------font-fam*/
.list-authors{
    width: 98.5vw;
    height: 60vh;
    /* background-color: red; */
}
.list-authors h2{
    margin-top: 7vw;
    display: flex;
    justify-content: center;
    margin-bottom: 4.6vh;
    font-family: FontHeadingH3;
}
.list-aut-wrapper{
    width: 97vw;
    margin-left: 1.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.aut-box{
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
    width: 18.8vw;
    height: 43vh;
    justify-content: center;
    /* background-color: red; */
}
.aut-img{
    width: 6.7vw;
    /* height: 15vh; */
    border-radius: 80px;
    margin-bottom: 2.1vh;
    align-self: center;
}
.aut-title{
    font-family: FontHeadingH3;
    margin-bottom: 0.02vh;
    align-self: center;
}
.aut-mail{
    font-family: FontHeadingH5;
    margin-bottom: 12px;
    align-self: center;
    opacity: 0.6;
}
ul{
    list-style: none;
    /* background-color: aqua; */
    align-self: center;

    
}
.aut-box .icons{
    display: flex;
    justify-content: space-around;
    width: 9vw;
}
.aut-icons{
    width: 1.2vw;
    height: 2.9vh;
    margin-right: 0.0015vw;
    align-self: center;
    margin-bottom: 2.7vw;
}



/* 7º Bloco Advertise */
.advertise{
    width: 98.55vw;
    height: 13vw;
    /* background-color: bisque;  */
    display: flex;  
    justify-content: space-between;
    
}
.list-adv{
    width: 92.5vw;
    display: flex;
    align-content: space-between;
    margin-left: 3vw;
}
.list-adv-item{
    width: 11vw;
    height: 10.5vh;
    margin-left: 3vw;
    margin-right: 4vw;
    margin-bottom: 3.7vh;
}
.list-text h5{
    opacity: 0.5;
    font-family: FontHeadingH4;
}
.list-text h4{
    font-family: FontHeadingH3;
    opacity: 0.7;
    width: 8vw;    
}
.adv-item-1{
    margin-top: 0.4vw;
    margin-left: 0.4vw;
    margin-right: 5.2vw;
}
.adv-logo{
    font-family: FontHeadingH5;
    opacity: 0.7;
}


/* 8º Bloco testimonials */
.testimonials{
    width: 98.5vw;
    height: 484px; 
}
.testimo-wrapper{
    width: 89vw;
    height:430px;
    margin-left: 5.4vw;
    background-color: #FBF6EA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimo-left{
    width: 31vw;
    height: 300px;
    border-right: 1px solid black;
    margin-right: 7vw; 
    margin-left: 100px;
}
.testimo-left h4{
    margin-bottom: 18px;
}

.testimo-left h2{
    font-family: FontHeadingH1;
    width: 15.6vw;
    margin-bottom: 18px;
}
.testimo-left p{
    width: 25.5vw;
    margin-bottom: 19px;
    font-family: FontHeadingH2;
}
.testimo-right{    
    width:40vw;
    height: 330px;
    /* background-color: greenyellow; */
    position: relative;
}
.testimo-right-box{
    width: 26vw;
    height: 330px;
    /* background-color: red; */
}
.testimo-right-box p{
    margin-top: 14px;
    width: 28vw;
    height: 120px;
    margin-bottom: 110px;
    font-family: FontHeadingH3;
    opacity: 0.8;
}
.jona-wrapper{
    width: 26vw;
    height:70px;
    /* background-color: #592EA9; */
    display: flex;
}
.jona-wrapper img{
    width: 3vw;
    height: 3vw;
    border-radius: 140px;
    margin-right: 1vw;
    margin-top: 20px;
}
.jona-wrapper h3{
    margin-top: 25px;
    width:15vw;
    font-family: FontHeadingH5;
}
.jona-wrapper h4{
    width: 12vw;
    font-family: FontHeadingH6;
    opacity: 0.5;
    
}
.buttons-wrapper-jona{
    /* background-color: aqua; */
    width: 8vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    top:  76%; 
    right: 10%;
    cursor: pointer; 
}
.jona-arrowL{
    width: 2.75vw;
    height: 2.75vw;    
    line-height: 18px;
    text-align: center;   
    font-weight: 700;
    border-radius: 70px;
    color: black;
    background-color: white;
    font-family: FontArrow;
    margin-right: 0.5vw;
}
/* .jona-arrowL input{
    background-color: white;
} */
.jona-arrowL:hover{
    background-color: orange;
}
.jona-arrowR{
    width: 3.75vw;
    height: 3.75vw;    
    line-height: 33px;
    text-align: center;   
    font-weight: 700;
    border-radius: 70px;
    color: white;
    background-color: black;
    font-family: FontArrow;
}
.jona-arrowR:hover{
    background-color: orange;
}
.testi-hide{
    display: none;
}

/* .testimonials{
    width: 98.5vw;
    height: 88vh;    
    display: flex;
    justify-content: center;
    margin-bottom: 3.5vh;

}
.testimo-wrapper{
    width: 89vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF6EA;
    margin-left: 0vw;
}
.testimo-left{
    width: 30vw;
    height: 51vh;
    border-right: 1px solid black;    
}
.testimo-left h4{
    font-family: FontHeadingH4;
    margin-bottom: 20px;
    margin-top: 3.6vh;
}
.testimo-left h2{
    font-family: FontHeadingH1;
    width: 15.6vw;
    margin-bottom: 3.6vh;
}
.testimo-left p{
    font-family: FontBody02;
    width: 25.5vw;
    margin-bottom: 3.6vh;
}
.testimo-right-cont{
    display: flex;
    justify-content: center;
    width:40vw;
    height: 51vh;
    

}

.testimo-right{
    width: 31.5vw;
    height: 51vh;    
    
}
.testimo-right p{
    font-family: FontHeadingH2;
    margin-top: 3.8vh;
    width: 22vw;
    margin-bottom: 21.8vh;
    margin-left: 3vw;

}

.jona-wrapper{
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    width: 40vw;  
    
}
.jona-img{
    width: 4.1vw;
    border-radius: 80px;
}

.jona-item2{
    width: 10vw;
    margin-right: 10vw;
    font-family: FontHeadingH2;
    margin-left: 1.2vw;
}
.jona-item2 span{
    width: 11.2vw;
    font-family: FontHeadingH4;
    opacity: 0.6;
    margin-left: -0.4vw;
}
.jona-item3{
    height: 50px;
    width: 50px;
    align-self: center;
    text-align: center;   
    font-weight: 700;
    border-radius: 70px;
    color: black;    
    font-family: FontArrow;
   
}
.jona-item4{
    height: 50px;
    width: 50px;
    align-self: center;
    text-align: center;   
    font-weight: 700;
    border-radius: 70px;
    color: white;
    background-color: black;
    font-family: FontArrow;
   
} */


/* 9º Bloco Join */

.join{
    width: 98.55vw;
    height: 50vh;
    /* git  */
}
.join-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-wrapper h2{
    margin-top: 5vh;
    width: 35vw;
    font-family: FontHeadingH1;
    text-align: center;
    margin-bottom: 3.3vh;

}
.join-wrapper p{
    width: 34.5vw;
    font-family: FontBody02;
    text-align: center;
    margin-bottom: 5vh;
    opacity: 0.5;
}
.join-now{    
    font-family: FontHeadingH1;
    width: 11.2vw;
    height: 7.2vh;
    background-color: #FFD050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.join-now:hover{
    background-color: orange;
}

