*{
    margin: 0;
    padding: 0;
}


/* ---largura 1106 px */
/* https://whatismyviewport.com/ viewport 1248px x587px screen size 1123px x632px 150% */
@font-face {
    font-family: FontSenRegular;
    src: url(./assets/fonts/Sen-Regular.ttf);
  }
  @font-face {
    font-family: FontDisplay;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 300%; 
    font-weight: 700;
}  
@font-face {
  font-family: FontArrow;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 285%;  
}

@font-face {
  font-family: FontHeadingH1;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 125%;
  
} 
@font-face {
  font-family: FontHeadingH2;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 105%;
}
@font-face {
  font-family: FontHeadingH2bp;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 125%;
}

@font-face {
  font-family: FontHeadingH2R;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 105%;
}

@font-face {
  font-family: FontHeadingH3;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 110%;
}
@font-face {
  font-family: FontHeadingH4;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 95%;
}
@font-face {
  font-family: FontHeadingH5;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 80%;
}
@font-face {
  font-family: FontHeadingH6;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 65%;
}
@font-face {
  font-family: FontBody01;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 100%;
  
}
@font-face {
  font-family: FontBody02;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 70%;
  
}
@font-face {
  font-family: FontLabel;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 70.5%;    
};

/* ------------font face break points----------- */
/* --------1200px--------------- */
@font-face {
  font-family: FontDisplay-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 210%; 
  font-weight: 700;
}  
@font-face {
  font-family: FontArrow-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 285%;  
}

@font-face {
  font-family: FontHeadingH1-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 100%;
  
} 
@font-face {
  font-family: FontHeadingH2-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 105%;
}
@font-face {
  font-family: FontHeadingH3-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 90%;
}
@font-face {
  font-family: FontHeadingH4-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 95%;
}
@font-face {
  font-family: FontHeadingH5-1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 80%;
}
@font-face {
  font-family: FontHeadingH6--1200;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 65%;
}
@font-face {
  font-family: FontBody01-1200;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 105%;
  
}
@font-face {
  font-family: FontBody02-1200;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 67.5%;
  
}
@font-face {
  font-family: FontLabel-1200;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 87.5%;    
};
/* -----------------------800px------------------------- */
@font-face {
  font-family: FontHeadingH1-800;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 95%;  
}
@font-face {
  font-family: FontHeadingH2-800;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 95%;
}
@font-face {
  font-family: FontHeadingH3-800;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 80%;
}
@font-face {
  font-family: FontHeadingH4-800;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 85%;
}
@font-face {
  font-family: FontHeadingH6-800;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 55%;
}
@font-face {
  font-family: FontBody02-800;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 60.5%;
  
}
@font-face {
  font-family: FontHeadingH2-800;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 85%;
}
@font-face {
  font-family: FontHeadingH2R-800;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 85%;
}



/* ---------------------576px--------------- */
@font-face {
  font-family: FontDisplay-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 110%; 
  font-weight: 700;
}  
@font-face {
  font-family: FontArrow-576;;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 285%;  
}

@font-face {
  font-family: FontHeadingH1-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 65%;
  
} 
@font-face {
  font-family: FontHeadingH2-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 70%;
}
@font-face {
  font-family: FontHeadingH3-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 60%;
}
@font-face {
  font-family: FontHeadingH4-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 20%;
}
@font-face {
  font-family: FontHeadingH5-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 80%;
}
@font-face {
  font-family: FontHeadingH6-576;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 65%;
}
@font-face {
  font-family: FontBody01-576;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 125%;
  
}
@font-face {
  font-family: FontBody02-576;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 87.5%;
  
}
@font-face {
  font-family: FontLabel-576;
  src: url(./assets/fonts/Sen-Regular.ttf);
  size-adjust: 87.5%;    
};


