*{
    margin: 0;
    padding: 0;
}

/* ---largura 1106 px */
/* https://whatismyviewport.com/ viewport 1248px x587px screen size 1123px x632px 150% */
@font-face {
    font-family: FontSenRegular;
    src: url(./assets/fonts/Sen-Regular.ttf);
  }

  @font-face {
    font-family: FontDisplay;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 220%;
}
@font-face {
  font-family: FontArrow;
  src: url(./assets/fonts/Sen-Bold.ttf);
  size-adjust: 195%;
}


  @font-face {
    font-family: FontHeadingH1;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 140%;
  }
  @font-face {
    font-family: FontHeadingH2;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 105%;
  }
  @font-face {
    font-family: FontHeadingH3;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 110%;
  }
  @font-face {
    font-family: FontHeadingH4;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 95%;
  }
  @font-face {
    font-family: FontHeadingH5;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 80%;
  }
  @font-face {
    font-family: FontHeadingH6;
    src: url(./assets/fonts/Sen-Bold.ttf);
    size-adjust: 65%;
  }
  @font-face {
    font-family: FontBody01;
    src: url(./assets/fonts/Sen-Regular.ttf);
    size-adjust: 100%;
    
  }
  @font-face {
    font-family: FontBody02;
    src: url(./assets/fonts/Sen-Regular.ttf);
    size-adjust: 87.5%;
    
  }
  @font-face {
    font-family: FontLabel;
    src: url(./assets/fonts/Sen-Regular.ttf);
    size-adjust: 87.5%;
    
  }